.background {
  position: absolute;

  &-top {
    // background-color: red;
    top: 0;
    left: 0;
  }

  &-bottom {
    // background-color: red;
    bottom: 0;
    right: 0;
  }
}
