*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: red; }

.attribution a {
  color: #3e52a3; }
