body {
  background-color: white;
  /*   transition: all 5.5s ease-out; */
}
.navbar {
  font-family: verdana, sans-serif;
  font-size: 20px;
  background-color: #e7e7e7;
  max-height: 50px;
}

ul {
  list-style: none;
}

.menu {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 15px;
  overflow: hidden;
  /*   transition: all 5.5s ease-out; */
}

.menu a:hover {
  /*     color: #58676C; */
  color: red;
  transition: all 0.3s;
}

a {
  text-decoration: none;
  color: #071013;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

.subnav {
  overflow: hidden;
}

#subnav-content {
  display: flex;
  flex-direction: column;
  border: 1px;
  border-color: black;
  border-style: solid;
  background-color: white;
  margin-top: 8px;
  display: none;
}

.subnav-item {
  padding: 4px;
  font-size: 16px;
  transition: all 0.3s;
}

.show {
  display: flex !important;
  transition: all 0.2s;
}

.subnav-item:hover {
  background-color: #e7e7e7;
  color: #071013 !important;
}

.menu a:hover #dropdown-arrow {
  border: solid red;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transition: all 0.3s;
}
