// ### Primary
$colors-dark-magenta: hsl(300, 43%, 22%);
$colors-soft-pink: hsl(333, 80%, 67%);

// ### Neutral
$colors-dark-grayish-magenta: hsl(303, 10%, 53%);
$colors-light-grayish-magenta: hsl(300, 24%, 96%);
$colors-white: hsl(0, 0%, 100%);
